<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
/*body  {
   background-image: url(/home_about.png);
   background-color: #cccccc;
}*/
body,html{
  height: 100%;
}
.bg {
    /* The image used */
    background-image: url("/home_about.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-top{
  height: 20vh;
}
.about-middle{
  height:30vh;
}
.bg-light{
  height: 20vh;
}

</style>
<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">TheBest</a>
  </div>
  <ul class="nav navbar-nav" style="flex-direction:row;">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="/home/about">About</a></li>
    <li><a href="/home/index">Index</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
  </ul>
</div>
</nav>

<body>
  <div class="bg">
      <div class="container  text-center ">
          <div class="about-top p-5 ">
            <h1>TheBestとは</h1>
          </div>

          <div class="about-middle p-5">
            <p>あなたが経験した最高のものを忘れないように、<br>今のあなたを作った最高の経験を
          親しい友人や仲間に共有出来るように<br>クリップしておきましょう。
          あなたの人生が充実するほど、あなたのMyBestが増えていくでしょう</p>
          </div>

          <div class=" text-center">
            <blockquote  class="bg-light text-dark ">
            <p>Nothing ever becomes real till it is experienced. </p>
            <footer>John.Keats</footer>
            <p>経験するまでは何事も本物ではない</p>
            <footer>詩人 ジョンキーツ</footer>
            </blockquote>
           </div>
      </div>
    </div>
</body>
