<!DOCTYPE html>
<html lang="ja">
<head>
  <title>TheBest</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>


  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">TheBest</a>
    </div>
    <ul class="nav navbar-nav" style="flex-direction:row;">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/home/index">Index</a></li>
      <li><a href="#">MyPage</a></li>
    </ul>
    <button class="btn btn-danger navbar-btn">login</button>
  </div>
</nav>
    <div class="container">
      <h2>カテゴリー</h2>
      <p>あなたの最高の体験をそれぞれのカテゴリーから選んでください</p>


<div class="list-group">
   <a href="#" class="list-group-item active">
     <h4 class="list-group-item-heading">Category</h4>
   </a>
   <a href="#" class="list-group-item">
     <h4 class="list-group-item-heading ">Gourmet</h4>
   </a>
   <a href="#" class="list-group-item ">
     <h4 class="list-group-item-heading ">Hotel</h4>
   </a>
   <a href="#" class="list-group-item">
     <h4 class="list-group-item-heading">Activities</h4>
   </a>
   <a href="#" class="list-group-item">
     <h4 class="list-group-item-heading">Person</h4>
   </a>
 </div>

      <table class="table">
        <thread>
          <tr>
            <th>グルメ</th>
            <th>店名</th>
            <th>レビュー</th>
            <th>url</th>
          </tr>
        </thread>
        <tbody>
          <tr class="active">
            <td>ハンバーガー</td>
            <td>３S cafe</td>
            <td>https://bit.ly/2KPn84v</td>
            <td>http://3s-cafe.com/</td>
          </tr>
    <tr class="active">
            <td>ベーグル</td>
            <td>トキオナ</td>
            <td>https://bit.ly/2unhnjs</td>
            <td>http://baton-group.com/</td>
          </tr>
          <tr class="active">
            <td>カレー</td>
            <td>ジョグスタ</td>
            <td>https://bit.ly/2m9PlEg</td>
            <td>http://ast-osaka.sub.jp/jogsta/</td>
          </tr>
      </table>
    </div>
